extends partials/base

block content
    h1 Edit
    form(method='post')
        label(for="title") Title: 
        input(name='title' type='text', placeholder="Title" value=`${video.title}`)
        input(type='submit' value='Edit')