extends partials/base
include mixins/videoBlock

block content
    h1 Home - trending
    ul.videos
        each video in videos
            +videoBlock(video)
        else
            li
                h3 Not found